# Ignore node_modules in both backeden and client folders
backend/node_modules/
backend/temp/
backend/controllers/temp/
client/node_modules/

# Ignore .env files in both backeden and client folders
backend/.env
client/.env
