.librarywrapper {
  /* width: 1150px; */
  min-height: 100vh;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.annimationbox {
  margin: 50px auto;
  height: 500px;
  width: 2600px;
}
.library {
  /* width: 1150px; */
  width: 1200px;
  padding: 10px;
  height: 100%;
  margin: 0 auto;
  /* background-color: pink; */
}

.summary {
  text-transform: capitalize;
  position: relative;
}
.summary::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -10px;
  left: 0;
  background-image: linear-gradient(
    to right,
    #ff385c,
    #ffb199
  ); /* Gradient from #ff385c to #ffb199 */
}
.booksbox {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
/* ---------------------------------------------------------------------------- */
@media screen and (max-width: 360px) {
  .librarywrapper {
    width: 286px;
  }
  .library {
    width: 280px;
  }
}
