.verifywrapper {
  width: 100vw;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: yellow; */
  background-color: #fff;
}
.verify {
  width: 300px;
  height: 560px;
  border: 2px solid #ff383c;
  border-radius: 7px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
}
.verifyhead {
  text-align: center;
  text-transform: capitalize;
}
.formFeild {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 8px;
}
.formFeild input {
  outline: none;
  /* border: 1px solid black; */
  border: 1px solid #ff383c;
  border-radius: 3px;
  color: #ff383c;
  padding: 0px 2px;
  height: 25px;
}
.btnbox {
  /* margin-top: auto; */
}
.btnbox button {
  width: 80%;
  display: block;
  margin: 5px auto;
  padding: 7px 8px;
  text-transform: capitalize;
}
.btnbox button:hover {
  cursor: pointer;
}
.redbtn {
  background-color: #ff383c;
  color: white;
  font-weight: 500;
  border: none;
  border-radius: 3px;
  transition: all 0.3s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.05);
}
.info {
  text-align: center;
}
@media screen and (max-width: 360px) {
  .verifywrapper {
    /* width: 280px; */
  }
  .verify {
    width: 270px;
  }
}
