.comments {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin: 20px auto;
  position: relative;
}
.comments::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  top: -10px;
  left: 0;
  background-image: linear-gradient(
    to right,
    #ff385c,
    #ffb199
  ); /* Gradient from #ff385c to #ffb199 */
}

.annimationbox {
  /* background-color: yellow; */
  margin: 0 auto;
  height: 150px;
  width: 150px;
}
@media screen and (max-width: 360px) {
  .comments {
    width: 280px;
  }
  .comments p {
    font-size: 12px;
  }
}
