.uploaderBoxwrapper {
  width: 1150px;
  margin: 0 auto;
  /* background-color: pink; */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* background-color: #fff; */
}
.uploaderBox {
  /* width: 500px; */
  width: 60%;
  /* background-color: #fff; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.uploaderBoxhead {
  text-align: center;
  text-transform: capitalize;
  color: #ff385c;
}
.uploaderBoxFig {
  width: 220px;
  height: 270px;
  border-radius: 7px;
  overflow: hidden;
  /* border: 1px solid #ff385c; */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  transform: translateX(0px);
  /* position: relative; */
  /* margin: 0;
  padding: 0; */
}
.uploaderBoxImg {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /* position: absolute;
  top: 0;
  left: 0; */
}
.uploaderBoxForm {
  /* border: 1px solid #ff385c; */
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.uploaderBoxbtn {
  min-width: 100px;
  background-color: #ff385c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}
.uploaderBoxbtn:hover {
  cursor: pointer;
}
.annimationbox {
  /* background-color: yellow; */
  margin: 0 auto;
  height: 150px;
  width: 150px;
}
.downloadBtn:link,
.downloadBtn:visited {
  min-width: 100px;
  background-color: #ff385c;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  transition: all 0.3s;
}
.downloadBtn:hover,
.downloadBtn:active {
  background-color: #fff;
  color: #ff385c;
}
@media screen and (max-width: 360px) {
  .uploaderBoxwrapper {
    width: 280px;
  }
  .uploaderBox {
    width: 100%;
  }
}
