.navbar {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  height: 70px;
  overflow: hidden;
  position: relative;
  /* width: 100vw; */
}
.navbar::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0px;
  left: 0;
  background-image: linear-gradient(
    to right,
    #ff385c,
    #ffb199
  ); /* Gradient from #ff385c to #ffb199 */
}
.links {
  display: flex;
  align-items: center;
  gap: 20px;
}
.links a:link,
.links a:visited {
  display: flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.3s;
  border-radius: 5px;
  /* color: #ff385c; */
}
.links a:hover,
.links a:active {
  transform: translateY(-3px);
}

.login {
  background-color: #ff385c;
  color: #fff;
  padding: 5px 10px;
}
/* .login:hover {
  background-color: #fff;
  color: #ff385c;
} */
.links a span {
  font-size: 16px;
}
.icon {
  color: #ff385c;
}
@media screen and (max-width: 360px) {
  .navbar {
    font-size: 10px;
    /* background-color: pink; */
    min-width: 280px;
  }
  .links a span {
    display: none;
  }
  .links {
    gap: 8px;
    margin-right: 5px;
  }
  .login {
    padding: 3px 6px;
  }
}
